.content {
    padding: 10px;
}
@media (max-width: 576px) {
    .container {
        max-width: 480px;
    }
}
.subscription-alert {
    width: 100%;
    padding: 2px;
    margin-bottom: 0;
    border-radius:0px;
    text-align: center;
}
#table {
    border-spacing: 0px;
}
.sub-action-column {
    min-width: 160px;
}
.card-standard {
    width: 25rem;
}
.sticky-button-bar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 88%;
}
.footer-buttons{
    position: sticky;
    z-index: 10;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.display-inline-table {
    display: inline-table;
}
.white-space-normal {
    white-space: normal;
}
.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}
.flex-non-important {
    display: flex;
}
/* Information page start */
.table-text-setting {
    margin: auto;
    width: 48%;
}
.section-p-text {
    /*background-color: #fbfbfb;*/
    padding: 17px;
    border-radius: 15px;
    text-align: center;
}
.left-table-pane {
    width: 30%;
}
/* Information page stop */
.flexbox {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}
.hidden_by_default {
    display: none;
}
.loader {
    border-width: 7px;
    border-radius: 50%;
    border-style: dotted;
    border-top-color: #007bff;
    border-right-color: #28a745;
    border-bottom-color: #dc3545;
    border-left-color: #17a2b8;
    width: 45px;
    height: 45px;
    animation: spin 1s cubic-bezier(.86,0,.07,1) infinite;
}
.cursor-pointer {
    cursor: pointer;
}
.tooltip-inner {
    text-align: left;
    max-width: 410px;
}
.badge-rounded {
    display: inline-block;
    padding: .1em;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
}
.modal-height-fit {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.modal-width-aggregated {
    max-width: 750px;
}
.pre {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 1em;
    font-size: medium;
}
.code-block {
    border: 1px solid #e6e6e6;
    background: #f7f7f7;
    padding: 10px;
}
.showPasswordButton{
    margin-top: 10px;
}
.font-small {
    font-size: small;
}
.font-medium {
    font-size: medium;
}
.hide {
    position: absolute;
    left: -999em;
}
.flex-wrap {
    flex-wrap: wrap;
}
#back_end_down_warning {
    font-size: 12pt;
    color: #dc3545;
}
#login-nav-bar-text{
    max-width: 100px;
    min-width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 23px;
    margin-left: 5px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}
.slider.round:before {
    border-radius: 50%;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
button.rules_info {
    text-align: center;
    max-height: auto;
    max-width: auto;
    margin: 0px;
    padding: 0px;
    background: white;
    border: none;
}
button.rules_info:active {
    outline: none;
}
button.rules_info:focus {
    outline:0;
    outline:none;
}
button.remove-item {
    padding: 0 2px 0 2px;
}
.text-area {
    width: 100%;
    padding-right: 5px;
}
#infoContent{
    font-family: Calibri;
}
@-moz-document url-prefix() {
    #infoContent{
        font-family: Calibri;
        font-size: smaller;
    }
}
.alerts-container {
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    left: 30%;
    border: none;
    box-shadow: 0 0 0 transparent;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td > .dtr-details > li {
    word-break: break-word;
}
.modal-subscription {
    height: 100%;
    padding-left: 0 !important;
}
.modal-open .modal.modal-subscription {
    overflow: hidden;
}
.modal-subscription .modal-dialog {
    width: 650px;
    height: inherit;
    padding-bottom: 1.75rem;
}
@media (max-width: 576px) {
    .modal.modal-subscription .modal-dialog {
        width: auto;
    }
}
.modal-subscription .modal-content {
    height: 99%;
}
.modal-subscription .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollbar-mobile::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scrollbar-mobile::-webkit-scrollbar:vertical {
    width: 12px;
}
.scrollbar-mobile::-webkit-scrollbar:horizontal {
    height: 12px;
}
.scrollbar-mobile::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.scrollbar-mobile::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
/* Up */
.scrollbar-mobile::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}
.scrollbar-mobile::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
  /* Down */
.scrollbar-mobile::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}
.scrollbar-mobile::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}