<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Eiffel Intelligence</title>
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
  <link href="assets/datatables/responsive.dataTables.min.css" rel="stylesheet" />
  <link href="assets/jquery-confirm/css/jquery-confirm.css" rel="stylesheet" />
  <link href="assets/jgrowl/jquery.jgrowl.min.css" rel="stylesheet" />
  <link href="assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/ui.css" rel="stylesheet">
</head>

<body>
  <div class="d-none" id="eiffelDocumentationUrlLinks" th:text="${eiffelDocumentationUrlLinks}"></div>
  <div class="d-none" id="frontendServiceUrl" th:text="${frontendServiceUrl}"></div>
  <div class="d-none" id="subscriptionNameRegex" th:text="${subscriptionNameRegex}"></div>
  <div class="d-none" id="notificationMetaRegex" th:text="${notificationMetaRegex}"></div>
  <header class="app-header">
    <a class="navbar-logo" href="#">
      <img src="assets/images/favicon-32x32.png" width="32" height="32" alt="EI Logo">
      <div class="navbar-logo-full">
        <span>Eiffel Intelligence</span>
      </div>
    </a>
    <button class="nav-item navbar-toggler" type="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <select class="header-bar" id="selectInstances" data-bind="optionsCaption: 'Choose backend instance', options: instances, optionsText: 'information', optionsValue: 'name', value: selectedActive, event: {change: onChange}"></select>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" id="alertsItem">
        <a class="nav-link" id="alertsLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span>Notifications</span>
          <span class="badge badge-pill badge-danger" data-bind="visible: $root.newMessagesLength() > 0, text: $root.newMessagesLength()"></span>
        </a>
        <div class="alert-menu dropdown-menu">
          <div class="dropdown-header text-center">
            <strong>Messages</strong>
          </div>
          <div class="alert-empty text-center" data-bind="visible: $root.errorMessages().length == 0">No messages</div>
          <div class="alert-list" id="alerts" data-bind="foreach: errorMessages.slice(0).reverse()">
            <div class="dropdown-item">
              <div class="col-11 alert-message" data-bind="text: message, click: function(data, event) {$root.expandMessage(event)}"></div>
              <div class="col-1 alert-remove">
                <i class="fa fa-fw fa-minus-circle cursor-pointer" data-bind="click: function(data, event) {$root.removeErrorMessage($index())}"></i>
              </div>
            </div>
          </div>
          <div class="alert-clear" data-bind="visible: $root.errorMessages().length != 0">
              <button class="alert-clear-button btn btn-sm btn-secondary" data-bind="click: function(data, event) {$root.removeAllErrorMessages()}">
                  Clear All
                  <i class="fa fa-fw fa-trash"></i>
              </button>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown" id="userItem">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i id="login-nav-bar-icon" class="fa fa-user-circle" aria-hidden="true"></i>
          <span id="login-nav-bar-text"></span>
        </a>
        <div class="user-menu dropdown-menu">
          <div class="dropdown-header text-center">
            <strong id="ldapUserName"></strong>
          </div>
          <ul class="user-item-list">
            <li class="nav-item" id="loginBlock" style="display: none">
              <a class="nav-link" id="loginBtn" href="#login" data-navigo>
                <i class="fa fa-sign-in"></i>Login
              </a>
            </li>
            <li class="nav-item" id="logoutBlock" style="display: none">
              <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-sign-out"></i>Logout
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </header>

  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-title">
            Navigation
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#subscriptions" data-navigo>
              <i class="fa fa-fw fa-table" aria-hidden="true"></i>
              <span>Subscriptions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#test-rules" data-navigo>
              <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
              <span>Test Rules</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ei-info" data-navigo>
              <i class="fa fa-fw fa-info" aria-hidden="true"></i>
              <span>Eiffel Intelligence Info</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#docLinks" data-toggle="collapse" aria-expanded="false">
              <i class="fa fa-fw fa-link" aria-hidden="true"></i>
              <span>Documentation Links</span>
            </a>
            <ul class="collapse" id="docLinks"></ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#confBackend" data-toggle="collapse" aria-expanded="false">
              <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
              <span>Configure back-end Instances</span>
            </a>
            <ul class="collapse" id="confBackend">
              <li class="nav-item">
                <a class="nav-link" href="#add-backend" data-navigo>
                  <span>Add back-end instance</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#switch-backend" data-navigo>
                  <span>Switch back-end instance</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer" type="button">
        <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
    <main class="main"></main>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div id="logoutModalDialogWindow" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a id="logoutBtn" class="btn btn-primary" data-dismiss="modal" href="index.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="assets/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="assets/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" src="assets/datatables/jquery.dataTables.js"></script>
  <script type="text/javascript" src="assets/datatables/dataTables.bootstrap4.js"></script>
  <script type="text/javascript" src="assets/datatables/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="assets/knockout/knockout-3.4.2.js"></script>
  <script type="text/javascript" src="assets/knockout/knockout.mapping.js"></script>
  <script type="text/javascript" src="assets/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets/jquery-confirm/js/jquery-confirm.js"></script>
  <script type="text/javascript" src="assets/jgrowl/jquery.jgrowl.min.js"></script>
  <script type="text/javascript" src="assets/dateformat/date.format.js"></script>
  <script type="text/javascript" src="assets/jsonlint/jsonlint.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="assets/navigo/7.1.2/navigo.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/global-variables.js"></script>
  <script type="text/javascript" src="js/errorMessages.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/status-handler.js"></script>
  <script src="js/ui.js"></script>
</body>

</html>