<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
  <link href="assets/datatables/responsive.dataTables.min.css" rel="stylesheet" />
  <link href="css/sb-admin.css" rel="stylesheet" />
  <link href="assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
  <link href="assets/jquery-confirm/css/jquery-confirm.css" rel="stylesheet"/>
  <link href="assets/jgrowl/jquery.jgrowl.min.css" rel="stylesheet"/>
  <link href="assets/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet" />

  <title>Eiffel Intelligence</title>
</head>

<body class="bg-dark" id="page-top">
  <div class="d-none" id="eiffelDocumentationUrlLinks" th:text="${eiffelDocumentationUrlLinks}"></div>
  <div class="d-none" id="frontendServiceUrl" th:text="${frontendServiceUrl}"></div>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="${frontendServiceUrl}">
      <img alt="Favorite Icon" src="assets/images/favicon-32x32.png" />Eiffel Intelligence</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <select class="split mt-1" id="selectInstances" data-bind="optionsCaption: 'Choose backend instance', options: instances, optionsText: 'information', optionsValue: 'name', value: selectedActive, event: {change: onChange}"></select>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li id="subscriptionBtn" class="nav-item">
          <a class="nav-link" href="#subscriptions" data-navigo>
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Subscriptions</span>
          </a>
        </li>
        <li id="testRulesBtn" class="nav-item">
          <a class="nav-link" href="#test-rules" data-navigo>
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Test Rules</span>
          </a>
        </li>
        <li id="eiInfoBtn" class="nav-item">
          <a class="nav-link" href="#ei-info" data-navigo>
            <i class="fa fa-fw fa-info"></i>
            <span class="nav-link-text">Eiffel Intelligence Info</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDocPages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Documentation Links</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseDocPages">
            <!-- Li and A tags and document links content is injected from main.js  -->
          </ul>
        </li>
        <li id="adminBackendInstancesBtn" class="nav-item">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseBackEndPages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Administration backend instances</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseBackEndPages">
            <li>
              <a id="addInstanceBtn" href="#add-backend" data-navigo>Add backend instance</a>
            </li>
            <li>
              <a id="switcherBtn" href="#switch-backend" data-navigo>Switch backend instance</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item" id="sidenavCollapse">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="badge badge-pill badge-warning" data-bind="visible: $root.newMessagesLength() > 0, text: $root.newMessagesLength()"></span>
          </a>
          <div id="alerts" class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown" data-bind="foreach: errorMessages.slice(0).reverse()">
              <div class="pt-2 pb-2 dropdown-item alert-message small cursor-pointer" data-bind="text: message, click: function(data, event) {$root.expandMessage(data, event)}"></div>
              <div class="m-0 dropdown-divider" data-bind="visible: $index() < $root.errorMessages().length - 1"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ldapUserName"></a>
        </li>
        <li class="nav-item" id="loginBlock" style="display: none">
          <a class="nav-link" id="loginBtn" href="#login" data-navigo>
            <i class="fa fa-fw fa-sign-in"></i>Login</a>
        </li>
        <li class="nav-item" id="logoutBlock" style="display: none">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">

    <div id="mainFrame"></div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div id="logoutModalDialogWindow" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a id="logoutBtn" class="btn btn-primary" data-dismiss="modal" href="index.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="assets/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="assets/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript" src="assets/datatables/jquery.dataTables.js"></script>
  <script type="text/javascript" src="assets/datatables/dataTables.bootstrap4.js"></script>
  <script type="text/javascript" src="assets/datatables/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="assets/knockout/knockout-3.4.2.js"></script>
  <script type="text/javascript" src="assets/knockout/knockout.mapping.js"></script>
  <script type="text/javascript" src="assets/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="assets/jquery-confirm/js/jquery-confirm.js"></script>
  <script type="text/javascript" src="assets/jgrowl/jquery.jgrowl.min.js"></script>
  <script type="text/javascript" src="assets/dateformat/date.format.js"></script>
  <script type="text/javascript" src="assets/jsonlint/jsonlint.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="assets/js/sb-admin.min.js"></script>
  <script type="text/javascript" src="assets/js/sb-admin-datatables.min.js"></script>
  <script type="text/javascript" src="assets/navigo/7.1.2/navigo.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/errorMessages.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
</body>
</html>