<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
</head>

<body class="bg-dark">
  <div class="container pull-left">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form id="viewModelDOMObject" autocomplete="on">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input class="form-control" id="inputUsername" type="text" placeholder="Enter username" data-bind="textInput: $root.userState.username" />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input class="form-control" id="inputPassword" type="password" placeholder="Password" data-bind="textInput: $root.userState.password" />
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" data-bind="checked: $root.remember"/> Remember password</label>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" data-bind="click: function(){$root.login($root.userState, $root.remember());}">Login</button>
        </form>
        <!--<div class="text-center">-->
          <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>-->
          <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="js/login.js"></script>
  
</body>

</html>
