<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<script type="text/javascript" src="js/testrules.js"></script>
</head>
<body>
    <div class="hidden" id="frontendServiceUrl" style="display: none" th:text="${frontendServiceUrl}"></div>
    <div class="container pull-left" style="max-width: 100%; max-height: 100%">
        <br /> <br />
        <div align="center">
            <h2>Test Rules</h2>
        </div>
        <div class="row" >
            <div class="col-6 border border-right border-success " id="testTulesDOMObject">
                <div class="row butt">
                    <div class="col-3">
                        <button data-toggle="tooltip" title="Upload List of Rules" class="btn btn-info upload_rules">
                            Upload Rules <i class="fa fa-fw  fa-upload"></i>
                        </button>
                        <input class="hidden" type='file' id='upload_rules_file' name='file' style="display: none" />
                    </div>
                    <div class="col-2">Rule Type :</div>
                    <div class="col-6">
                        <select class="form-control dropdownvalues"
                            data-bind="options: dropdown,event: { change: addRule },optionsCaption: 'Please select rule type'"></select>
                    </div>
                </div>
                <div class="row-fluid">Rules</div>
                <div class="row-fluid eventsListDisplay"  data-bind="foreach: rulesBindingList">
                    <div class="testClass" data-bind="attr: { id: 'foo' + Type }">
                        <div class="row top15">
                            <div class="col-8">
                                <h4>
                                    <span class="badge-secondary" data-bind="text : 'Rule : '+$root.removeDropdown(Type)"></span>
                                </h4>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-1">
                                <span class="badge-danger" data-bind="click : $root.removeRule.bind()"><i
                                    class="fa fa-fw  fa-trash"></i></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <textarea class="form-control formRules" rows="10"
                                data-bind="text : $root.parsedToString($data)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 border border-right border-success" id="eventsDOMObject" style="max-height: 100%">
                <div class="row butt">
                    <div class="col-4">
                        <button data-toggle="tooltip" title="Upload List of events"
                            class="btn btn-info upload_events">
                            Upload Events <i class="fa fa-fw  fa-upload"></i>
                        </button>
                        <input class="hidden" type='file' id='upload_rules_file' name='file' style="display: none" />
                    </div>
                </div>
                <div class="row-fluid">Events</div>
                <div class="row-fluid top15">
                    <textarea class="form-control top15 textareaCustom" id="eventsListID"></textarea>
                </div>
            </div>
        </div>
        <div class="row-fluid" id="submitButton">
        <div class="row" >
            <div class="col-5"></div>
            <div class="col-2">
                <button data-toggle="tooltip" title="Find the aggregated object"  class="btn btn-success" data-bind="click : $root.submit.bind($data)">
                    Fing Aggregated Object
                </button>
            </div>
        </div>
        </div>
    </div>
</body>
</html>