<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script type="text/javascript" src="js/testrules.js"></script>
    <script type="text/javascript" src="js/downloadFile.js"></script>
</head>

<body>
    <div class="hidden" id="frontendServiceUrl" style="display: none" th:text="${frontendServiceUrl}"></div>
    <div class="container pull-left" id="testRule" style="max-width: 100%; max-height: 100%">
        <div align="center">
            <h1 id="test_rules_header">Test Rules</h1>
        </div>
        <div class="row" style="max-height: 950; padding: 10px">
            <div class="p-1 col-lg-6 col-md-6 col-12 border border-right border-success" id="testRulesDOMObject">
                <div class="d-flex flex-wrap">
	                <div class="col-11">
	                   <button class="btn btn-primary upload_rules rule-button mr-1 mt-1 d-inline-block">
                           Upload Rules
                           <i class="fa fa-fw  fa-upload"></i>
                       </button>
                       <input class="hidden" type='file' id='uploadRulesFile' name='file' style="position: absolute; left: -999em;" />
	                   <button class="btn btn-primary download_rules_template rule-button mr-1 mt-1 d-inline-block">
                           Get Template
                           <i class="fa fa-fw  fa-download"></i>
                       </button>
	                   <button class="btn btn-primary add_rule rule-button mr-1 mt-1 d-inline-block" data-bind="click : $root.addRule.bind($data, ruleTemplate)">
                           Add Rule
                           <i class="fa fa-fw  fa-plus"></i>
                       </button>
	                </div>
                    <div>
	                    <img class="cursor-pointer" id="uploadRulesInfo" alt="Upload Information" src="assets/images/information.png" data-toggle="tooltip" data-placement="top" title="Upload rules must be in a json list, Ex: [{},{}]"/>
	                </div>
                </div>
                <div class="col-12 pt-2">
                    <h3>Rules</h3>
                </div>
                <div class="row-fluid rulesListDisplay" data-bind="foreach: rulesBindingList">
                    <div class="elementDiv" data-bind="attr: { id: 'Rule' + $index() }">
                        <div class="d-flex flex-nowrap">
                            <div class="col-11">
                                <textarea class="form-control formRules" rows="10" data-bind="textInput: data"></textarea>
                            </div>
                            <div>
                                <h6>
                                    <span class="badge-rounded badge-danger cursor-pointer" data-bind="click : $root.removeRule.bind()">
                                        <i class="fa fa-fw  fa-trash" aria-hidden="true"></i>
                                    </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1 col-lg-6 col-md-6 col-12 border border-right border-success" id="testEventsDOMObject">
                <div class="d-flex flex-wrap">
                    <div class="col-11">
                       <button class="btn btn-primary upload_events rule-button mr-1 mt-1 d-inline-block">
                           Upload Events
                           <i class="fa fa-fw  fa-upload"></i>
                       </button>
                       <input class="hidden" type='file' id='uploadEventsFile' name='file' style="position: absolute; left: -999em;" />
                       <button class="btn btn-primary download_events_template rule-button mr-1 mt-1 d-inline-block">
                           Get Template
                           <i class="fa fa-fw  fa-download"></i>
                       </button>
                       <button class="btn btn-primary add_event rule-button mr-1 mt-1 d-inline-block" data-bind="click : $root.addEvent.bind($data, {})">
                           Add Event
                           <i class="fa fa-fw  fa-plus"></i>
                       </button>
                    </div>
                    <div>
                        <img class="cursor-pointer" id="uploadEventsInfo" alt="Upload Information" src="assets/images/information.png" data-toggle="tooltip" data-placement="top" title="Upload events must be in a json list, Ex: [{},{}]"/>
                    </div>
                </div>
                <div class="col-12 pt-2">
                    <h3>Events</h3>
                </div>
                <div class="row-fluid eventsListDisplay" data-bind="foreach: eventsBindingList">
                    <div class="elementDiv" data-bind="attr: { id: 'Events' + $index() }">
                        <div class="d-flex flex-nowrap">
                            <div class="col-11">
                                <textarea class="form-control formEvents" rows="10" data-bind="textInput: data"></textarea>
                            </div>
                            <div>
                                <h6>
	                                <span class="badge-rounded badge-danger cursor-pointer" data-bind="click : $root.removeEvent.bind()">
		                                <i class="fa fa-fw  fa-trash" aria-hidden="true"></i>
	                                </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid divpad" id="submitButton">
            <div class="row">
                <div class="col-5">
                    <button class="btn btn-success download_rules white-space-normal">
                        Download Rules
                        <i class="fa fa-fw  fa-download"></i>
                    </button>
                </div>
                <div class="col-7">
                    <button class="btn btn-success find_aggregated_object white-space-normal" data-bind="click : $root.submit.bind($data)">Find Aggregated Object</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none">
        <div id="aggregatedresult">
            <h1>
                <strong>
                    <span style="color: #0000ff;">Aggregated Object</span>
                </strong>
            </h1>
            <pre id="aggregatedresultData"></pre>
        </div>
    </div>
</body>

</html>