<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<mvc:resources mapping="/resources/**" location="/resources/" />
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Eiffel Intelligence Subscription Handling</title>

    <!-- Style Sheets -->

    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    
    <!-- JavaScript imports -->

    <script type="text/javascript" src="assets/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="assets/knockout/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="assets/knockout/knockout.mapping.js"></script>
    <script type="text/javascript" src="assets/jquery-confirm/js/jquery-confirm.js"></script>
    <script type="text/javascript" src="assets/jgrowl/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="assets/jquery-ui/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>

	</head>

<body>
<div align="center"><label>Test Rules Page</label></div>

</body>
</html>